<!DOCTYPE html>
<html>
<head>
	<title>Survey</title>
</head>
<body>
	<h2>Hello World</h2>
	<h3>Name :</h3> <%= data.name %>
	<h3>Location: </h3> <%= data.location %>
	<h3>Comment: </h3> <p><%= data.comment %></p>
</body>
</html>